html {
    font-size: small;
}

header{
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    margin: 10px 0;
}

h2 {
    margin: 10px 0;
}

table,th,td{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}

table{
    display : flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border-color: white;   
}

a{
    text-decoration: none;
    color:rgba(10, 10, 109, 0.979);
}

.projects li a svg {
    color:black
}

.projects{
    line-height: 5px;
    .oneliners{
        margin: 2px;
        padding-top: 7px;
        line-height: 11px;
    }
}

.projects li {
    padding-top: 1px;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.date {
    margin-left: auto;
    text-align: right;
}

.edu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.edu-list {
    padding-bottom: 5px;
}